<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="people img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 data-translate="error.title">Error Page!</h1>

            <div class="alert alert-danger" data-translate="error.403">You are not authorized to access the page.
            </div>
        </div>
    </div>
</div>
