
<div>
    <h2><span data-translate="backendApp.persona.detail.title">Persona</span> {{vm.persona.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="backendApp.persona.run">Run</span></dt>
        <dd>
            <span>{{vm.persona.run}}</span>
        </dd>
        <dt><span data-translate="backendApp.persona.nombreCompleto">Nombre Completo</span></dt>
        <dd>
            <span>{{vm.persona.nombreCompleto}}</span>
        </dd>
        <dt><span data-translate="backendApp.persona.fechaNacimiento">Fecha Nacimiento</span></dt>
        <dd>
            <span>{{vm.persona.fechaNacimiento | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="backendApp.persona.sexo">Sexo</span></dt>
        <dd>
            <span>{{vm.persona.sexo}}</span>
        </dd>
        <dt><span data-translate="backendApp.persona.edadAgnos">Edad Agnos</span></dt>
        <dd>
            <span>{{vm.persona.edadAgnos}}</span>
        </dd>
        <dt><span data-translate="backendApp.persona.edadMeses">Edad Meses</span></dt>
        <dd>
            <span>{{vm.persona.edadMeses}}</span>
        </dd>
        <dt><span data-translate="backendApp.persona.edadDias">Edad Dias</span></dt>
        <dd>
            <span>{{vm.persona.edadDias}}</span>
        </dd>
        <dt><span data-translate="backendApp.persona.fechaConsulta">Fecha Consulta</span></dt>
        <dd>
            <span>{{vm.persona.fechaConsulta | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="persona-detail.edit({id:vm.persona.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
