<div>
    <h2 data-translate="backendApp.persona.home.title">Personas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="persona.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="backendApp.persona.home.createLabel">
                        Create new Persona
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
               <!-- <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="run"><span data-translate="backendApp.persona.run">Run</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombreCompleto"><span data-translate="backendApp.persona.nombreCompleto">Nombre Completo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaNacimiento"><span data-translate="backendApp.persona.fechaNacimiento">Fecha Nacimiento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sexo"><span data-translate="backendApp.persona.sexo">Sexo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="edadAgnos"><span data-translate="backendApp.persona.edadAgnos">Edad Agnos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="edadMeses"><span data-translate="backendApp.persona.edadMeses">Edad Meses</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="edadDias"><span data-translate="backendApp.persona.edadDias">Edad Dias</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaConsulta"><span data-translate="backendApp.persona.fechaConsulta">Fecha Consulta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="persona in vm.personas track by persona.id">
               <!-- <td><a ui-sref="persona-detail({id:persona.id})">{{persona.id}}</a></td> -->
                    <td>{{persona.run}}</td>
                    <td>{{persona.nombreCompleto}}</td>
                        <td>{{persona.fechaNacimiento | date:'mediumDate'}}</td>
                    <td>{{persona.sexo}}</td>
                    <td>{{persona.edadAgnos}}</td>
                    <td>{{persona.edadMeses}}</td>
                    <td>{{persona.edadDias}}</td>
                        <td>{{persona.fechaConsulta | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="persona-detail({id:persona.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="persona.edit({id:persona.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="persona.delete({id:persona.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
