
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonaLabel" data-translate="backendApp.persona.home.createOrEditLabel">Create or edit a Persona</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.persona.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.persona.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backendApp.persona.run" for="field_run">Run</label>
            <input type="text" class="form-control" name="run" id="field_run"
                    ng-model="vm.persona.run"
                    required ng-pattern="/^([0-9]+-[0-9K])$/"/>
            <div ng-show="editForm.run.$invalid">
                <p class="help-block"
                    ng-show="editForm.run.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.run.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="000000000-0">
                    This field should follow pattern "000000000-0".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backendApp.persona.nombreCompleto" for="field_nombreCompleto">Nombre Completo</label>
            <input type="text" class="form-control" name="nombreCompleto" id="field_nombreCompleto"
                    ng-model="vm.persona.nombreCompleto"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backendApp.persona.fechaNacimiento" for="field_fechaNacimiento">Fecha Nacimiento</label>
                <div class="input-group">
                    <input id="field_fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" uib-datepicker-popup="{{dateformat}}" ng-model="vm.persona.fechaNacimiento" is-open="vm.datePickerOpenStatus.fechaNacimiento"
                    ng-change="change()"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaNacimiento')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backendApp.persona.sexo" for="field_sexo">Sexo</label>
            <input type="text" class="form-control" name="sexo" id="field_sexo"
                    ng-model="vm.persona.sexo"
                    ng-pattern="/^(M|F)$/"/>
            <div ng-show="editForm.sexo.$invalid">
                <p class="help-block"
                    ng-show="editForm.sexo.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="F|M">
                    This field should follow pattern "F|M".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backendApp.persona.edadAgnos" for="field_edadAgnos">Edad Agnos</label>
            <input type="number" class="form-control" name="edadAgnos" id="field_edadAgnos"
                    ng-model="vm.persona.edadAgnos" readonly
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backendApp.persona.edadMeses" for="field_edadMeses">Edad Meses</label>
            <input type="number" class="form-control" name="edadMeses" id="field_edadMeses"
                    ng-model="vm.persona.edadMeses" readonly
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backendApp.persona.edadDias" for="field_edadDias">Edad Dias</label>
            <input type="number" class="form-control" name="edadDias" id="field_edadDias"
                    ng-model="vm.persona.edadDias" readonly
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backendApp.persona.fechaConsulta" for="field_fechaConsulta">Fecha Consulta</label>
            <input type="text" class="form-control" name="fechaConsulta" id="field_fechaConsulta"
                    ng-model="vm.persona.fechaConsulta" readonly uib-datepicker-popup="{{dateformat}}"
                    />
               
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
